<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="description" content="Go语言编写获取城市天气预报，爬取中央气象数据。">
    <title>天气预报</title>
    <link href="/resources/css/basic.css?_v=4" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="main">
        <div class="topbar">
            <div class="doclink"><a href="https://github.com/lzqwebsoft/weather#%E5%A4%A9%E6%B0%94"
                    target="_blank">关于</a></div>
            <div class="citylink"><a href="javascript:void(0);">城市</a></div>
            <div class="cityname">{{.Now.CityName}}</div>
            <div class="dropdown">
                <div class="dropdown-list" id="province"></div>
                <div class="dropdown-list" id="city"></div>
                <div class="dropdown-list" id="district"></div>
            </div>
        </div>
        <div class="weather-title">
            <div class="realtime">时况天气: {{.Now.Time}}</div>
            <div class="weather-icon"><img src="/icon.png?wcode={{.Now.WeatherCode}}&size=large_b" /></div>
            {{if .Now.AQITxt}}
            <div class="aqi-txt">{{.Now.AQITxt}}</div>
            {{end}}
            <div class="info">{{.Now.Weather}} {{.Now.Temp}}°C</div>
        </div>
        <div class="hour3-datas">
            <div class="info">
                <div class="date">{{.Now.DateLabel}}</div>
                <div class="rainfall">相对湿度: <span>{{.Now.RelativeHumidity}}</span></div>
            </div>
            <ul>
                {{range (index .Daily 1).Hours3Data}}
                <li data-time="{{.Time}}">
                    <label>{{.CNTime}}</label>
                    <div><img src="/icon.png?wcode={{.IconCode}}&size=normal_b" title="{{.Weather}}" /></div>
                    <label>{{.Tempe}}</label>
                </li>
                {{end}}
            </ul>
            <div class="sunrise-reset">
                <div>日出: {{(index .Daily 1).SunUpTime}}</div>
                <div>日落: {{(index .Daily 1).SunDownTime}}</div>
            </div>
        </div>
        <div class="next7days-weahter">
            <ul>
                {{range $i, $v := .Daily}} {{if gt $i 1 }}
                <li>
                    <div class="week">{{$v.Week}}</div>
                    <div class="icon"><img src="/icon.png?wcode={{index $v.WeatherCode 0}}&size=medium_b"
                            title="{{$v.WeatherInfo}}" /></div>
                    <div class="temp"><span>{{$v.MaxTemp}}</span><span>{{$v.MinTemp}}</span></div>
                </li>
                {{end}} {{end}}
            </ul>
        </div>

        <div class="life-style">
            <ul>
                {{range (index .Daily 1).LifeStyles}}
                <li>
                    <label class="item">{{.Name}}</label>
                    <label class="level">{{.Grading}}</label>
                    <label class="detail">{{.Description}}</label>
                </li>
                {{end}}
            </ul>
        </div>

        <div class="data-description">
            <div clss="source">数据来源：{{.DataSource}}</div>
            <div clss="update">更新时间：{{.UpdateTime}}</div>
        </div>
    </div>

    <script>
        // 小于10的数补零
        function SupplementZero(data) {
            return data >= 10 ? data : "0" + data;
        }

        // 点击城市，弹出选择城市菜单
        const trigger = document.querySelector('.citylink');
        const dropdown = document.querySelector('.dropdown');
        const provinceList = document.getElementById('province');
        const cityList = document.getElementById('city');
        const districtList = document.getElementById('district');

        // 省份数据
        window.areaData = {};

        function renderProvinces() {
            provinceList.innerHTML = areaData.map(province => `<div class="dropdown-item" onclick="selectProvince('${province.zh}')">${province.zh}</div>`)
                .join('');
            cityList.innerHTML = '';
            districtList.innerHTML = '';
        }

        function selectProvince(province) {
            clearActive(provinceList);
            const provinceItem = provinceList.querySelector(`[onclick="selectProvince('${province}')"]`);
            provinceItem.classList.add('active');

            renderCities(province);
        }

        function renderCities(province) {
            cityList.innerHTML = areaData.find(item => item.zh === province).children
                .map(city => `<div class="dropdown-item" onclick="selectCity('${province}', '${city.zh}')">${city.zh}</div>`)
                .join('');
            districtList.innerHTML = '';
        }

        function selectCity(province, city) {
            clearActive(cityList);
            const cityItem = cityList.querySelector(`[onclick="selectCity('${province}', '${city}')"]`);
            cityItem.classList.add('active');

            renderDistricts(province, city);
        }

        function renderDistricts(province, city) {
            var provices = areaData.find(item => item.zh === province).children;
            var cityItem = provices.find(item2 => item2.zh === city);
            if(cityItem!=undefined && cityItem.children.length > 0) {
                districtList.innerHTML = cityItem.children
                .map(district => `<div class="dropdown-item" onclick="selectDistrict('${district.zh}', '${district.id}')">${district.zh}</div>`)
                .join('');
            } else {
                window.location.href = "/?code=" + city.id
            }
        }

        function selectDistrict(district, id) {
            clearActive(districtList);
            const districtItem = districtList.querySelector(`[onclick="selectDistrict('${district}', '${id}')"]`);
            districtItem.classList.add('active');

            const province = provinceList.querySelector('.active').textContent;
            const city = cityList.querySelector('.active').textContent;

            window.location.href = "/?code=" + id

            setTimeout(() => {
                trigger.classList.remove('active');
                dropdown.classList.remove('active');
            }, 300);
        }

        function clearActive(element) {
            element.querySelectorAll('.dropdown-item').forEach(item => {
                item.classList.remove('active');
            });
        }

        function getAllCitys() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/provices', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const data = JSON.parse(xhr.responseText);
                        areaData = data.provices;
                    } else {
                        console.error('Error:', xhr.status);
                    }
                }
            };

            xhr.send();
        }
        window.onload = function () {
            getAllCitys()
            
            trigger.addEventListener('click', (e) => {
                trigger.classList.toggle('active');
                dropdown.classList.toggle('active');
                if (dropdown.classList.contains('active')) {
                    renderProvinces();
                }
            });

            // 格式化显示日期
            var dateElm = document.querySelector(".hour3-datas .info .date")
            var date = dateElm.innerHTML;
            var datas = date.split("(");
            dateElm.innerHTML = "<span>" + datas[0] + "</span><span>(" + datas[1] + "</span>";
            // 空气质量颜色标记
            var aqiElm = document.querySelector(".main .weather-title .aqi-txt");
            if (aqiElm) {
                var levels = ["优", "良", "轻度污染", "中度污染", "重度污染", "严重污染"];
                var level = levels.indexOf(aqiElm.innerHTML.trim())
                if (level != -1) {
                    aqiElm.classList.add("lev" + (level + 1));
                }
            }
            // 格式化显示降雨率
            // var rainElm = document.querySelector(".hour3-datas .info .rainfall span");
            // rainElm.innerHTML = Number(rainElm.innerHTML) * 10 + "%";
            // 删除过期的时刻天气预报
            var current = new Date(); // 转化时间为YYYYMMDDHH
            var currentTime = parseInt(`${current.getFullYear()}${SupplementZero(current.getMonth() + 1)}${SupplementZero(current.getDate())}${SupplementZero(current.getHours())}`)
            document.querySelectorAll(".hour3-datas ul li").forEach(function (elm) {
                var time = parseInt(elm.dataset.time);
                if (time < currentTime) {
                    elm.remove();
                }
            });
            // 设置第一个时刻为当前时间
            // document.querySelector(".hour3-datas ul li label:first-of-type").innerHTML = "当前时间";
            // 设置手势滑动时刻天气列表
            var hour3ULElm = document.querySelector(".main .hour3-datas ul");
            var startX = 0;
            var isMouseDown = false;
            var startTime = 0;
            var endTime = 0;
            var speed = 1;
            var direction = 0;
            hour3ULElm.addEventListener("touchstart", function (e) {
                e.preventDefault();
                e.stopPropagation();
                startX = e.touches[0].pageX;
                startTime = new Date().getTime();
            }, false);
            hour3ULElm.addEventListener("touchmove", function (e) {
                e.preventDefault();
                e.stopPropagation();
                let moveX = e.touches[0].pageX - startX;
                hour3ULElm.scrollLeft = hour3ULElm.scrollLeft - moveX;
                startX = e.touches[0].pageX;
                endTime = new Date().getTime();
                speed = Math.abs(moveX / (endTime - startTime) * 16);
                direction = moveX > 0 ? 1 : -1;  // 1为左，-1为右
                startTime = endTime;
            }, false);
            hour3ULElm.addEventListener("touchend", function (e) {
                e.preventDefault();
                e.stopPropagation();
                // 小于10的速度就没有惯性了
                if (speed < 10) {
                    return;
                }
                // 惯性动画
                var timer = setInterval(function () {
                    var f = Math.min(speed / 32, 0.5); // 由速度得到摩擦力,减速用
                    if (speed > 0.2) {
                        speed -= f;
                        hour3ULElm.scrollLeft -= speed * direction;
                    } else {
                        // 停止动画
                        window.clearInterval(timer);
                    }
                }, 100);
            }, false);
            hour3ULElm.addEventListener("mousedown", function (e) {
                e.preventDefault();
                e.stopPropagation();
                startX = e.clientX;
                isMouseDown = true;
                startTime = new Date().getTime();   // 计录开始时间
            }, false);
            hour3ULElm.addEventListener("mousemove", function (e) {
                e.preventDefault();
                e.stopPropagation();
                if (isMouseDown) {
                    let moveX = e.clientX - startX;
                    hour3ULElm.scrollLeft = hour3ULElm.scrollLeft - moveX;
                    startX = e.clientX;
                    endTime = new Date().getTime();
                    speed = Math.abs(moveX / (endTime - startTime) * 16);
                    direction = moveX > 0 ? 1 : -1;  // 1为左，-1为右
                    startTime = endTime;
                }
            }, false);
            hour3ULElm.addEventListener("mouseup", function (e) {
                e.preventDefault();
                e.stopPropagation();
                startX = 0;
                isMouseDown = false;
                // 小于10的速度就没有惯性了
                if (speed < 10) {
                    return;
                }
                // 惯性动画
                var timer = setInterval(function () {
                    var f = Math.min(speed / 32, 0.5); // 由速度得到摩擦力,减速用
                    if (speed > 0.2) {
                        speed -= f;
                        hour3ULElm.scrollLeft -= speed * direction;
                    } else {
                        // 停止动画
                        window.clearInterval(timer);
                    }
                }, 100);
            }, false);
        };
    </script>
</body>

</html>